<div class="container">
  <div class="col-md-12">
    <h1>AWS-UI</h1>

    <h2>Cel mai ieftin medicament care contine o anumita substanta activa</h2>
    <code><pre>{{ 'QUERY HERE' }}
    </pre></code>

    <div *ngIf="data.query1">
      <table>
        <tr>
          <th *ngFor="let h of data.query1.head.vars">{{ h }}</th>
        </tr>
        <tr *ngFor="let e of data.query1.results.bindings">
          <td>{{ e.entity.value }}</td>
          <td>{{ e.result.value }}</td>
        </tr>
      </table>
    </div>

    <h2>Cel mai ieftin medicament la o cautare dupa nume</h2>
    <code><pre>{{ 'PREFIX pm:<https://fuseki-aws.herokuapp.com/PreturiMedicamente.owl#>
      SELECT ?entity  ?result
      WHERE {
        ?entity pm:CodCIM ?result .
        FILTER(?result = "W43451003")
      }
      ORDER BY ?result DESC(pm:PretAm)' }}
    </pre></code>

    <div *ngIf="data.query2">
      <table>
        <tr>
          <th *ngFor="let h of data.query2.head.vars">{{ h }}</th>
        </tr>
        <tr *ngFor="let e of data.query2.results.bindings">
          <td>{{ e.entity.value }}</td>
          <td>{{ e.result.value }}</td>
        </tr>
      </table>
    </div>

    <h2>Numarul de medicamente puse pe piata de o firma X</h2>
    <code><pre>{{ 'PREFIX pm:<https://fuseki-aws.herokuapp.com/PreturiMedicamente.owl#>
      SELECT ?entity  ?result
      WHERE {
          ?entity pm:Firma ?result .
          FILTER(?result = "OTSUKA PHARMACEUTICAL EUROPE LTD - MAREA BRITANIE")
      }' }}
    </pre></code>
    <div *ngIf="data.query3">
        <table>
          <tr>
            <th *ngFor="let h of data.query3.head.vars">{{ h }}</th>
          </tr>
          <tr *ngFor="let e of data.query3.results.bindings">
            <td>{{ e.entity.value }}</td>
            <td>{{ e.result.value }}</td>
          </tr>
        </table>
      </div>
  </div>
</div>
